RAZORPAY_KEY_ID=YOUR_KEY
RAZORPAY_SECRET=YOUR_SECRET
JWT_SECRET=YOUR_JWT_SECRET
DYNAMODB_TABLE_SHOPS=YOUR_TABLE
RAZORPAY_PLAN_BASIC_ID=YOUR_BASIC_PLAN_ID
RAZORPAY_PLAN_STANDARD_ID=YOUR_STANDARD_PLAN_ID
RAZORPAY_PLAN_PREMIUM_ID=YOUR_PREMIUM_PLAN_ID
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH=YOUR_BCRYPT_HASH
